<!-- chatTest.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Test</title>
</head>
<body>
<h1>채팅...</h1>

<div id="chat">
    <div id="chat-messages"></div>

    <form id="message-form">
        <input type="text" id="message" >
        <button type="submit">Send</button>
    </form>
</div>

<!-- WebSocket 및 채팅 로직을 초기화하는 스크립트 추가 -->
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="/js/finalchat.js"></script>
</body>
</html>