<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="calenderMapper">
    <resultMap id="calender" type="com.green.GreenClassRoom.room.vo.CalenderVO">
        <id column="CAL_NUM" property="calNum"/>
        <result column="CAL_TITLE" property="calTitle"/>
        <result column="CAL_DATE" property="calDate"/>
    </resultMap>

    <!--캘린더 조회-->
    <select id="selectCalender" resultMap="calender">
        SELECT CAL_NUM
        , CAL_TITLE
        , CAL_DATE
        FROM GREEN_CALENDER
    </select>

    <!--캘린더 일정 추가-->
    <insert id="insertCalender">
        INSERT INTO GREEN_CALENDER (
            CAL_NUM
            , CAL_TITLE
            , CAL_DATE
        ) VALUES (
            (SELECT NVL(MAX(CAL_NUM),0) +1 FROM GREEN_CALENDER)
            , #{carTitle}
            , #{calDate}
        )
    </insert>

</mapper>