<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="chatMapper">
    <resultMap id="" type="com.green.GreenClassRoom.chat.ChatVO">
        <id column="MEMBER_ID" property="boardNum"/>
        <result column="MEMBR_NAME" property="title"/>
        <result column="MESSAGE" property="content"/>
        <result column="TIMESTAMP" property="timestamp"/>
    </resultMap>

    <insert id="chatting">
        INSERT INTO CHAT_MESSAGE (
            MEMBER_ID
            , MEMBER_NAME
            , MESSAGE
        ) VALUES (
            #{memberId}
            , #{memberName}
            , #{message}
        )
    </insert>

</mapper>

