<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!--자유게시판-->
<mapper namespace="freeBoardMapper">
    <!--자유게시판-->
    <resultMap id="freeBoard" type="com.green.GreenClassRoom.board.vo.FreeBoardVO">
        <id column="BOARD_NUM" property="boardNum"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="WRITER" property="writer"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="READ_CNT" property="readCnt"/>
    </resultMap>
    <!--리플-->
    <resultMap id="reply" type="com.green.GreenClassRoom.board.vo.ReplyVO">
        <id column="REPLY_NUM" property="replyNum"/>
        <result column="BOARD_NUM" property="boardNum"/>
        <result column="REPLY_TEXT" property="replyText"/>
        <result column="REPLYER" property="replyer"/>
        <result column="REG_DATE" property="regDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
    </resultMap>

    <!--자유게시판 목록 쿼리-->
    <select id="selectFreeBoardList" resultMap="freeBoard">
        SELECT BOARD_NUM
            , TITLE
            , WRITER
            , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') CREATE_DATE
            , READ_CNT
        FROM FREE_BOARD
        <if test='searchValue!=null and !searchValue.equals("")'>
            WHERE UPPER(${searchType}) LIKE '%'||UPPER(#{searchValue})||'%'
        </if>
        ORDER BY BOARD_NUM DESC
    </select>

    <!--자유게시판 작성 쿼리-->
    <insert id="insertFreeBoard">
        INSERT INTO FREE_BOARD(
            BOARD_NUM
            , TITLE
            , CONTENT
            , WRITER
        ) VALUES(
            (SELECT NVL(MAX(BOARD_NUM),0) +1 FROM FREE_BOARD)
            , #{title}
            , #{content}
            , #{writer}
        )
    </insert>

    <!--게시판 번호를 기준으로 상세게시글 보기-->
    <select id="selectFreeBoardDetail" resultMap="freeBoard">
        SELECT BOARD_NUM
        , TITLE
        , CONTENT
        , WRITER
        , TO_CHAR(CREATE_DATE,'YYYY-MM-DD') CREATE_DATE
        , READ_CNT
        FROM FREE_BOARD
        WHERE BOARD_NUM=#{boardNum}
    </select>

    <!--게시글 조회수 증가-->
    <update id="readCntUp">
        UPDATE FREE_BOARD
        SET
        READ_CNT= READ_CNT+1
        WHERE BOARD_NUM=#{boardNum}
    </update>

    <!--게시글 수정 -->
    <update id="updateFreeBoard">
        UPDATE FREE_BOARD
        SET
        TITLE=#{title}
        ,CONTENT=#{content}
        WHERE BOARD_NUM=#{boardNum}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteFreeBoard">
        DELETE FREE_BOARD
        WHERE BOARD_NUM=#{boardNum}
    </delete>
    <!--댓글 작성-->
    <insert id="insertReply">
        INSERT INTO BOARD_REPLY(
            REPLY_NUM
            , REPLY_TEXT
            , REPLYER
            , BOARD_NUM
        )
        VALUES(
            (SELECT NVL(MAX(REPLY_NUM),0) +1 FROM BOARD_REPLY)
            ,#{replyText}
            ,#{replyer}
            ,#{boardNum}
        )
    </insert>
    <select id="selectReply" resultMap="reply">
        SELECT REPLY_NUM
            , REPLY_TEXT
            , REPLYER
            , TO_CHAR(REG_DATE,'YYYY-MM-DD') REG_DATE
        FROM BOARD_REPLY
        WHERE BOARD_NUM=#{boardNum}
    </select>
</mapper>































