<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="freeBookMarkMapper">
    <resultMap id="freeBookMark" type="com.green.GreenClassRoom.board.vo.FreeBookMarkVO">
        <id column="FREE_BOOK_MARK_NUM" property="freeBookMarkNum"/>
        <result column="BOARD_NUM" property="boardNum"/>
        <result column="MEMBER_ID" property="memberId"/>
        <association property="freeBoardVO" resultMap="freeBoardMapper.freeBoard"/>
    </resultMap>

    <select id="selectFreeBookMark" resultMap="freeBookMark">
        SELECT BOARD1.BOARD_NUM
            , MARK1.FREE_BOOK_MARK_NUM
            , BOARD1.TITLE
            , BOARD1.WRITER
        FROM FREE_BOOK_MARK MARK1, FREE_BOARD BOARD1
        WHERE MARK1.BOARD_NUM = BOARD1.BOARD_NUM
        AND MARK1.MEMBER_ID = #{memberId}
        ORDER BY FREE_BOOK_MARK_NUM DESC
    </select>

    <insert id="insertFreeBookMark">
        INSERT INTO FREE_BOOK_MARK (
            FREE_BOOK_MARK_NUM
            , BOARD_NUM
            , MEMBER_ID
        ) VALUES (
            (SELECT NVL(MAX(FREE_BOOK_MARK_NUM),0) +1 FROM FREE_BOOK_MARK)
            , #{boardNum}
            , #{memberId}
        )
    </insert>

    <delete id="deleteFreeBookMark">
        DELETE FREE_BOOK_MARK
        WHERE BOARD_NUM = #{boardNum}
        AND MEMBER_ID = #{memberId}
    </delete>
</mapper>































