<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="noticeBookMarkMapper">
	<resultMap id="noticeBookMark" type="com.green.GreenClassRoom.board.vo.NoticeBookMarkVO">
        <id column="NOTICE_BOOK_MARK_NUM" property="noticeBookMarkNum"/>
        <result column="NOTICE_BOARD_NUM" property="noticeBoardNum"/>
        <result column="MEMBER_ID" property="memberId"/>
        <association property="noticeBoardVO" resultMap="noticeBoardMapper.notice"/>
    </resultMap>

    <select id="selectNoticeBookMark" resultMap="noticeBookMark">
        SELECT BOARD1.NOTICE_BOARD_NUM
        , MARK1.NOTICE_BOOK_MARK_NUM
        , BOARD1.NOTICE_BOARD_TITLE
        , BOARD1.MEMBER_ID
        FROM NOTICE_BOOK_MARK MARK1, NOTICE_BOARD BOARD1
        WHERE MARK1.NOTICE_BOARD_NUM = BOARD1.NOTICE_BOARD_NUM
        AND MARK1.MEMBER_ID = #{memberId}
        ORDER BY NOTICE_BOOK_MARK_NUM DESC
    </select>

    <insert id="insertNoticeBookMark">
        INSERT INTO NOTICE_BOOK_MARK (
            NOTICE_BOOK_MARK_NUM
            , NOTICE_BOARD_NUM
            , MEMBER_ID
        ) VALUES (
            (SELECT NVL(MAX(NOTICE_BOOK_MARK_NUM),0) + 1 FROM NOTICE_BOOK_MARK)
            , #{noticeBoardNum}
            , #{memberId}
        )
    </insert>

    <delete id="deleteNoticeBookMark">
        DELETE NOTICE_BOOK_MARK
        WHERE NOTICE_BOARD_NUM = #{noticeBoardNum}
        AND MEMBER_ID = #{memberId}
    </delete>
</mapper>































