<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="todoMapper">
	<resultMap id="todo" type="com.green.GreenClassRoom.room.vo.TodoVO">
        <id column="TODO_NUM" property="todoNum"/>
        <result column="TODO_WRITER" property="todoWriter"/>
        <result column="TODO_CONTENT" property="todoContent"/>
        <result column="TODO_START_DATE" property="todoStartDate"/>
        <result column="TODO_FINISH_DATE" property="todoFinishDate"/>
    </resultMap>
    <!--todo리스트 등록    -->
    <insert id="insertTodo">
        INSERT INTO TODO_LIST(
            TODO_NUM
            , TODO_WRITER
            , TODO_CONTENT
            , TODO_FINISH_DATE
        )
        VALUES(
            (SELECT NVL(MAX(TODO_NUM),0) +1 FROM TODO_LIST)
            ,#{todoWriter}
            ,#{todoContent}
            ,#{todoFinishDate}
        )
    </insert>
    <!--todo리스트 조회-->
    <select id="selectTodo" resultMap="todo">
        SELECT TODO_NUM
            , TODO_WRITER
            , TODO_CONTENT
            , TO_NUMBER(TO_CHAR(TODO_START_DATE, 'YYYYMMDD'))
            , TO_NUMBER(TO_CHAR(TODO_FINISH_DATE, 'YYYYMMDD'))
            , TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD'))-TO_DATE(TO_CHAR(TODO_FINISH_DATE, 'YYYYMMDD'))TODO_START_DATE
        FROM TODO_LIST
        WHERE TODO_WRITER=#{todoWriter}
        AND TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD'))-TO_DATE(TO_CHAR(TODO_FINISH_DATE, 'YYYYMMDD')) &lt; 0
        ORDER BY TODO_NUM DESC
    </select>
    <!--todo리스트 삭제-->
    <delete id="deleteTodoList">
        DELETE TODO_LIST
        WHERE TODO_NUM =#{todoNum}
    </delete>

</mapper>































