<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="workMapper">
    <resultMap id="work" type="com.green.GreenClassRoom.room.vo.WorkVO">
        <id column="WORK_NUM" property="workNum"/>
        <result column="WORK_TITLE" property="workTitle"/>
        <result column="WORK_CONTENT" property="workContent"/>
        <result column="DEAD_LINE" property="deadLine"/>
    </resultMap>

    <select id="selectWorkList" resultMap="work">
        SELECT WORK_NUM
            , WORK_TITLE
            , WORK_CONTENT
            , DEAD_LINE
        FROM GREEN_WORK
    </select>

    <insert id="insertWork">
        INSERT INTO GREEN_WORK(
            WORK_NUM
            , WORK_TITLE
            , WORK_CONTENT
            , DEAD_LINE
        )VALUES(
         (SELECT NVL(MAX(WORK_NUM),0) +1 FROM GREEN_WORK)
            , #{workTitle}
            , #{workContent}
            , #{deadLine}
        )
    </insert>
    <delete id="deleteWork">
        DELETE GREEN_WORK
        WHERE WORK_NUM =#{workNum}
    </delete>

</mapper>
