<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <h3>자유게시글 수정</h3>
        <hr>
        <form action="/board/updateFreeBoard" method="post">
            제목 : <input type="text" name="title" th:value="${freeBoardDetail.title}"><br>
            글내용 :<textarea rows="5" cols="50" name="content">[[${freeBoardDetail.content}]]</textarea> <br>
            <input type="hidden" name="boardNum" th:value="${freeBoardDetail.boardNum}">
            <input type="submit" value="수정">
        </form>
    </th:block>
</body>
</html>