<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">

        <!-- sweetalert2 script -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="/css/board.css">
        <div class="boardBox">

            <!-- 게시글이 하나도 없다면 -->
            <!-- <th:block th:if="${#lists.size(freeBoardDetail)==0}">
                <tr>
                    <td colspan="5">조회된 게시글이 없습니다.</td>
                </tr>
            </th:block> -->

            <!-- 게시글 -->
            <th:block th:unless="${#lists.size(freeBoardDetail)==0}">
                <div th:each="board, state : ${freeBoardDetail}">
                    <div class="row">
                        <div class="col-11">
                            <h3>[[${board.title}]]</h3>
                        </div>
                        <div class="col-1 d-grid gap-2 d-md-flex justify-content-md-end col">
                            <div class="backArrow" onclick="location.href='/board/freeBoardList'">뒤로가기</div>
                        </div>
                    </div>
                
                    <hr>
        
                    <div class="row">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                            <b class="boardWriter">[[${board.writer}]]</b>
                            <p class="boardDate">[[${board.createDate}]]</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-5 px-4">
                            <div class="textContent">[[${board.content}]]</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="boardReadCnt">조회 [[${board.readCnt}]]</p>
                        </div>
                        <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end col" 
                        th:if="${session.loginInfo != null}">
                            <div th:if="${freeBoardDetail.writer == session.loginInfo.memberId}">
                                <input type="button" class="updateButton btn btn-primary" value="수정" th:onclick="goUpdate([[${freeBoardDetail.boardNum}]])">
                                <input type="button" class="btn btn-light" value="삭제" th:onclick="goDelete([[${freeBoardDetail.boardNum}]])">
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <hr>

            <!-- 댓글 -->
            <th:block th:if="${#lists.size(replyList)==0}">
                <p class="text-center">작성된 댓글이 없습니다.</p>
                <hr>
            </th:block>

            <th:block th:unless="${#lists.size(replyList)==0}">
                <section th:each="reply, state : ${replyList}">
                    <div class="container my-1 py-1 text-dark">
                      <div class="row d-flex">
                        <div class="col-md-11 col-lg-9 col-xl-7">
                          <div class="d-flex flex-start mb-4">
                            <div id="replyEmoji" name="replyEmoji">
                                <img class="rounded-circle shadow-1-strong me-3" th:src="|${reply.replyEmoji}|" alt="avatar" width="40" height="40"/>
                            </div>
                            <div class="card w-100" >
                              <div class="card-body p-3">
                                <div>
                                  <div class="commentHead row">
                                      <div class="col-8">
                                          <h5 class="replyWriter">[[${reply.replyer}]]</h5>
                                      </div>
                                      <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end col align-self-end">
                                        <div class="small">[[${reply.regDate}]]</div>
                                        <input type="button" id="replyNum" name="replyNum" th:onclick="deleteReply([[${freeBoardDetail.boardNum}]])" 
                                        th:data-reply-num="${reply.replyNum}" value="삭제" th:disabled="${reply.replyer != session.loginInfo.memberId}">
                                        <!-- th:diabled="" 댓글 각각에 -->
                                      </div>
                                  </div>

                                  <p class="textContent">[[${reply.replyText}]]</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
            </th:block>
            
            <div>
                <form action="/board/insertReply" method="post" id="replyForm">
                    <div class="row">
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  <img src="/images/emoji8.png" alt="" class="selectImg" id="replyEmoji" >
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji1.png');"><img src="/images/emoji1.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji2.png');"><img src="/images/emoji2.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji3.png');"><img src="/images/emoji3.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji4.png');"><img src="/images/emoji4.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji5.png');"><img src="/images/emoji5.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji6.png');"><img src="/images/emoji6.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji7.png');"><img src="/images/emoji7.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji8.png');"><img src="/images/emoji8.png" alt=""></a></li>
                                  <li><a class="dropdown-item" onclick="changeEmoji('/images/emoji9.png');"><img src="/images/emoji9.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <textarea name="replyText" id="replyText" cols="50" rows="1" class="rounded-pill" placeholder="응원하기"></textarea>
                        <input type="hidden" name="boardNum" th:value="${freeBoardDetail.boardNum}">
                        <input type="hidden" name="replyer" th:value="${loginInfo.memberId}">
                        <input type="hidden" class="resultEmoji" name="replyEmoji" value="/images/emoji8.png">
                        <div class="col-1">
                            <input type="submit" value="등록" class="commentBtn btn btn-outline-warning">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script type="text/javascript" src="/js/board/board.js"></script>
    </th:block>
</body>
</html>