<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<th:block layout:fragment="content_css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/board.css">
</th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="boardBox">
            <h3 class="headTitle">자유게시글 작성 페이지</h3>

            <form action="/board/insertFreeBoard" method="post">

                <div class="input-group mt-5 mb-3">
                    <span class="input-group-text" id="basic-addon1">제목</span>
                    <input name="title" type="text" class="form-control" required>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <textarea id="summernote" name="content" required></textarea>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input class="btn btn-primary" type="submit" value="등록"></input>
                </div>

            </form>
        </div>


    </th:block>   

    
    <th:block layout:fragment="content_js">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
        <script src="/js/summernote/lang/summernote-ko-KR.js"></script>
        <script src="/js/board/free_board_write.js"></script>
    </th:block>
</body>
</html>