<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/board.css">
</th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="boardBox container">
            <span class="headTitle">자유게시판</span>
            <div class="searchBox col align-self-center mt-5 mb-3">
                <form action="/board/freeBoardList" method="post">
                    <div class="input-group justify-content-md-center">
                        <select name="searchType" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                            <option value="title" class="dropdown-item">제목</option>
                            <option value="content" class="dropdown-item">내용</option>
                            <option value="writer" class="dropdown-item">작성자</option>
                        </select>
                        <input type="text" name="searchValue" class="form-control">
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="bi bi-search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </i>
                        </button>
                    </div>
                </form>
            </div>
            <table class="table table-striped table-hover align-middle text-center">
                <colgroup>
                    <col width="10%">
                    <col width="*">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                </colgroup>
                <tr>
                    <td>No</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                <!-- 게시글이 하나도 없다면 -->
                <th:block th:if="${#lists.size(boardList)==0}">
                    <tr>
                        <td colspan="5">조회된 게시글이 없습니다.</td>
                    </tr>
                </th:block>
                <!-- 게시글이 있다면 -->
                <th:block th:unless="${#lists.size(boardList)==0}">
                    <tr th:each="board, state : ${boardList}" th:onclick="goFreeBoardDetail([[${board.boardNum}]])" style="cursor: pointer;">
                        <td>[[${totalDataCnt - state.index - (10 * (freeBoardVO.nowPage - 1))}]]</td>
                        <td>[[${board.title}]]</td>
                        <td>[[${board.writer}]]</td>
                        <td>[[${board.createDate}]]</td>
                        <td>[[${board.readCnt}]]</td>
                    </tr>
                </th:block>
            </table>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end col align-self-end" sec:authorize="isAuthenticated()">
                    <input type="button" value="글쓰기" class="btn btn-primary" onclick="location.href='freeBoardWrite';">
                </div>
        </div>

        <!-- 페이징 -->
        <div class="btn-toolbar justify-content-md-center" role="toolbar" aria-label="Toolbar with button groups">
            <a th:href="@{/board/freeBoardList(nowPage=${freeBoardVO.beginPage - 1})}">
                <span th:if="${freeBoardVO.prev}" type="button"class="btn btn-light">이전</span>
            </a>

            <div class="btn-group me-2" role="group" aria-label="First group">
                <!-- 게시글이 하나도 없다면 -->
                <th:block th:if="${#lists.size(boardList)==0}">
                    <a th:href="@{/board/freeBoardList(nowPage=${freeBoardVO.beginPage})}" type="button" class="btn btn-outline-secondary">
                        <span th:text="${freeBoardVO.beginPage}"></span>
                    </a>
                </th:block>
                <!-- 게시글이 있다면 -->
                <th:block th:each="pageNum : ${#numbers.sequence(freeBoardVO.beginPage, freeBoardVO.endPage)}">
                    <th:block th:unless="${#lists.size(boardList)==0}">
                        <a th:href="@{/board/freeBoardList(nowPage=${pageNum})}" type="button" class="btn btn-outline-secondary">
                            <span th:text="${pageNum}"></span>
                        </a>
                    </th:block>
                </th:block>
            </div>

            <a th:href="@{/board/freeBoardList(nowPage=${freeBoardVO.endPage + 1})}" >
                <span th:if="${freeBoardVO.next}" type="button" class="btn btn-light">다음</span>
            </a>
        </div>

    </th:block>
    <th:block layout:fragment="content_js">
        <script type="text/javascript" src="/js/board/board.js"></script>
    </th:block>
</body>
</html>