<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>공지사항 보기</title>
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/board.css">
</th:block>

</head>
<body>
<th:block layout:fragment="content">
    <div class="boardBox">
        <th:block th:unless="${#lists.size(noticeInfo)==0}">
            <div th:each="notice, state : ${noticeInfo}">
                <div class="row">
                    <div class="col-11">
                        <h3>[[${notice.noticeBoardTitle}]]</h3>
                    </div>
                    <div class="col-1">
                        <span class="bookCheck">
                            <img class="bookmark"  src="/images/bookmark-off.png" alt="" th:if="${insertNoticeBookMark == null}" th:onclick="checkNoticeBookMark(this, [[${notice.noticeBoardNum}]])">
                            <img class="bookmark bookmarked"  src="/images/bookmark-on.png" alt="" th:if="${insertNoticeBookMark != null}" th:onclick="checkNoticeBookMark(this, [[${notice.noticeBoardNum}]])">
                        </span>
                    </div>
                </div>
            
                <hr>
    
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
                        <p>[[${notice.noticeBoardCreateDate}]]</p>
                        <p style="font-size: 16px; color: rgb(104, 104, 104);">[[${notice.memberId}]]</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-5 px-4">
                        <div class="textContent" th:utext="${notice.noticeBoardContent}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="boardReadCnt">조회 [[${notice.noticeBoardReadCnt}]]</p>
                    </div>
                    <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end col" sec:authorize="hasRole('ADMIN')">
                        <input type="button" class="updateButton btn btn-primary" value="수정" 
                        th:onclick="|location.href='@{/board/updateNoticeForm(noticeBoardNum=${notice.noticeBoardNum})}';|">
                        <input type="button" class="btn btn-light" value="삭제" th:onclick="noticeDelete([[${notice.noticeBoardNum}]]);">
                    </div>
                </div>

                <hr>

                <!-- 이전글 다음글 -->
                <div class="row">
                    <div class="col">
                        <div th:unless="${nextList == null}">
                            <span>다음</span>
                            <a th:href="@{/board/noticeBoardDetail(noticeBoardNum=${nextList.noticeBoardNum})}">
                                <span th:text="${nextList.noticeBoardTitle}"></span>
                            </a>
                        </div>
                        <div th:unless="${prevList == null}">
                            <span>이전</span>
                            <a th:href="@{/board/noticeBoardDetail(noticeBoardNum=${prevList.noticeBoardNum})}">
                                <span th:text="${prevList.noticeBoardTitle}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

</th:block>
<th:block layout:fragment="content_js">
    <script src="/js/board/board.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</th:block>
</body>
</html>