<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title>공지사항</title>
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/board.css">
</th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="boardBox container">
            <h1 class="headTitle">공지사항</h1>
            <div class="searchBox col align-self-center mt-5 mb-3">
                <form action="/board/notice" method="post">
                    <div class="input-group justify-content-md-center">
                        <select name="searchType" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
                            <option value="NOTICE_BOARD_TITLE" class="dropdown-item">제목</option>
                            <option value="NOTICE_BOARD_CONTENT" class="dropdown-item">내용</option>
                        </select>
                        <input type="text" name="searchValue" class="form-control">
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="bi bi-search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </i>
                        </button>
                    </div>
                </form>
            </div>
            <table class="table table-striped table-hover align-middle text-center">
                <colgroup>
                    <col width="10%">
                    <col width="*">
                    <col width="10%">
                    <col width="15%">
                    <col width="10%">
                </colgroup>
                <tr>
                    <td>No</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                <!-- 게시글이 하나도 없다면 -->
                <th:block th:if="${#lists.size(noticeList)==0}">
                    <tr>
                        <td colspan="5">조회된 게시글이 없습니다.</td>
                    </tr>
                </th:block>
                <!-- 게시글이 있다면 -->
                <th:block th:unless="${#lists.size(noticeList)==0}">
                    <tr th:each="notice, state : ${noticeList}" th:onclick="goNoticeBoardDetail([[${notice.noticeBoardNum}]])" style="cursor: pointer;">
                        <td>[[${totalDataCnt - state.index - (10 * (noticeBoardVO.nowPage - 1))}]]</td>
                        <td><a th:href="@{noticeBoardDetail(noticeBoardNum=${notice.noticeBoardNum})}">[[${notice.noticeBoardTitle}]]</a></td>
                        <td>[[${notice.memberId}]]</td>
                        <td>[[${notice.noticeBoardCreateDate}]]</td>
                        <td>[[${notice.noticeBoardReadCnt}]]</td>
                    </tr>
                </th:block>
            </table>
            <th:block th:if="${session.loginInfo != null && session.loginInfo.memberRoll == 'ADMIN'}">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end col align-self-end">
                    <input type="button" value="글쓰기" class="btn btn-primary" onclick="location.href='noticeBoardWrite';">
                </div>
            </th:block>
        </div>

        <!-- 페이징 -->
        <div class="btn-toolbar justify-content-md-center" role="toolbar" aria-label="Toolbar with button groups">
            <a th:href="@{/board/notice(nowPage=${noticeBoardVO.beginPage - 1})}">
                <span th:if="${noticeBoardVO.prev}" type="button"class="btn btn-light">이전</span>
            </a>

            <div class="btn-group me-2" role="group" aria-label="First group">
                <!-- 게시글이 하나도 없다면 -->
                <th:block th:if="${#lists.size(noticeList)==0}">
                    <a th:href="@{/board/notice(nowPage=${noticeBoardVO.beginPage})}" type="button" class="btn btn-outline-secondary">
                        <span th:text="${noticeBoardVO.beginPage}"></span>
                    </a>
                </th:block>
                <!-- 게시글이 있다면 -->
                <th:block th:each="pageNum : ${#numbers.sequence(noticeBoardVO.beginPage, noticeBoardVO.endPage)}">
                    <th:block th:unless="${#lists.size(noticeList)==0}">
                        <a th:href="@{/board/notice(nowPage=${pageNum})}" type="button" class="btn btn-outline-secondary">
                            <span th:text="${pageNum}"></span>
                        </a>
                    </th:block>
                </th:block>
            </div>

            <a th:href="@{/board/notice(nowPage=${noticeBoardVO.endPage + 1})}" >
                <span th:if="${noticeBoardVO.next}" type="button" class="btn btn-light">다음</span>
            </a>
        </div>
    </th:block>


    <th:block layout:fragment="content_js">
        <script src="/js/board/board.js"></script>
    </th:block>
</body>
</html>