<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
<style>
    tr,td{
        border: 1px solid black;
    }
    .page{
        display: flex;
        margin-bottom: 10px;
    }
    div, table{
        width: 100%;
        margin-bottom: 10px;
    }
</style>
</head>
<body>
<th:block layout:fragment="content">
<h3>질문게시판 상세페이지</h3>
<hr>
<div>
    <div class="page">
        <th:block th:each="qnaBoard : ${qnaBoardList}">
            <th:block th:if="${qnaBoard.originFileName != null}">
                <img width="50%" height="280px" th:src="${'/upload/' + qnaBoard.attachedFileName}" alt="">
            </th:block>
        </th:block>
        <table border="1">
            <tr>
                <td>글 번호</td>
                <td>제목</td>
                <td>내용</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>조회수</td>
            </tr>
            <th:block>
                <tr th:each="qnaBoard, state : ${qnaBoardList}">
                    <td>[[${qnaBoard.qnaBoardNum}]]</td>
                    <td>[[${qnaBoard.qnaBoardTitle}]]</td>
                    <td>[[${qnaBoard.qnaBoardContent}]]</td>
                    <td>[[${qnaBoard.qnaBoardWriter}]]</td>
                    <td>[[${qnaBoard.qnaCreateDate}]]</td>
                    <td>[[${qnaBoard.qnaReadCnt}]]</td>
                </tr>
            </th:block>
        </table>
    </div>
    <div th:if="${session.loginInfo != null}">
        <div th:if="${qnaBoardList.qnaBoardWriter == session.loginInfo.memberId or session.loginInfo.memberId == 'admin'}">
            <input type="button" class="btn btn-primary" value="수정" th:onclick="updateQnaBoard([[${qnaBoardList.qnaBoardNum}]])">
            <input type="button" class="btn btn-primary" value="삭제" th:onclick="deleteQnaBoard([[${qnaBoardList.qnaBoardNum}]])">
        </div>
    </div>
    <hr>
    <div>
        <h5>답변</h5>
        <table>
            <tr>
                <td>글 번호</td>
                <td>작성자</td>
                <td>답변내용</td>
                <td>작성일</td>
                <td>글 삭제</td>
            </tr>

            <th:block th:if="${#lists.size(qnaReplyList) == 0}">
                <tr>
                    <td colspan="5">작성된 답변이 없습니다.</td>
                </tr>
            </th:block>

            <th:block th:unless="${#lists.size(qnaReplyList) == 0}">
                <tr th:each="qnaReply, state : ${qnaReplyList}">
                    <td>[[${#lists.size(qnaReplyList) - state.index}]]</td>
                    <td>[[${qnaReply.qnaReplyer}]]</td>
                    <td>[[${qnaReply.qnaReplyText}]]</td>
                    <td>[[${qnaReply.qnaRegDate}]]</td>
                    <td>
                        <input type="button" class="btn btn-primary" id="qnaReplyNum" name="qnaReplyNum" th:onclick="deleteQnaReply([[${qnaBoardList.qnaBoardNum}]], [[${qnaReply.qnaReplyNum}]])" value="삭제" th:disabled="${qnaReply.qnaReplyer != session.loginInfo.memberId}">
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <div>
        <form action="/board/insertQnaReply" method="post">
            <label >답변 쓰기</label><br>
            <textarea name="qnaReplyText" id="qnaReplyText" cols="50" rows="5"></textarea><br>
            <input type="hidden" name="qnaBoardNum" th:value="${qnaBoardList.qnaBoardNum}">
            <input type="hidden" name="qnaReplyer" th:value="${loginInfo.memberId}">
            <input type="submit" class="btn btn-primary" value="답변 작성"></input>
        </form>
    </div>
    <input type="button" class="btn btn-primary" value="뒤로가기" onclick="location.href='/board/question';">
</div>
<script src="/js/board/qna_board.js"></script>
</th:block>
</body>
</html>