<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="mainHeaderFragment">
        <link rel="stylesheet" href="/css/main_header.css">
        <div class="row mt-5">
            <div class="col">
                <!-- 그린모아 로고 -->
                <h1 id="logo"><img src="/images/GREENMOA_logo.png" onclick="location.href='/room/main'"></h1>
                <!-- 로그인 안했을 시 -->
                <th:block sec:authorize="isAnonymous()">
                    <div class="loginMinime" onclick="location.href='/member/loginPage';"></div>
                    <div class="loginConver" onclick="location.href='/member/loginPage';">로그인</div>
                </th:block>
                <!-- 로그인 했을 시 -->
                <th:block sec:authorize="isAuthenticated()">
                    <div class="loginMinime" onclick="location.href='/logout';"></div>
                    <div class="loginConver" onclick="location.href='/logout';">로그아웃</div>
                </th:block>
            </div>
        </div>
    </th:block>
    </div>
    <script src="/js/main_header.js"></script>
</body>
</html>