<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="mainHeaderFragment">
        <link rel="stylesheet" href="/css/main_header.css">
        <th:block th:each="menu : ${menuList}">
            <p><a th:href="@{${menu.menuUrl}}">[[${menu.menuName}]]</a></p>
        </th:block>

    </th:block>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/main_header.js"></script>
</body>
</html>