<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="mainHeaderFragment">
        <link rel="stylesheet" href="/css/main_header.css">

        <span class="cursor-span" onclick="location.href='/member/loginPage';">로그인</span>
        <span class="cursor-span" onclick="location.href='/member/joinPage'">회원가입</span>



    </th:block>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/main_header.js"></script>
</body>
</html>