<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <link rel="stylesheet" href="/css/main.css">
        <div id="classRoom">
            <a href="">회원가입 임시</a><br>
            <a href="/member/loginPage">로그인 임시</a>
        </div>
    </th:block>
</body>
</html>