<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content" style="height: 1000px;">
      <link rel="stylesheet" href="/css/main.css">

      <!-- 클래스룸 -->
      <div id="classRoom">

        <div class="row" style="height: 100%;">
          <div class="col"  style="height: 100%; width: 100%;">
            <!-- 선생님 미니미 -->
            <div class="teacher">
              <img th:src="|/images/${teacher.minime}.png|">
              <p class="name">[[${teacher.memberName}]]</p>
            </div>
            <!-- 출석부 -->
            <div class="student-list" data-bs-toggle="modal" data-bs-target="#stuListModal"><img src="/images/studentList.png" alt=""></div>
            <!-- 학생 미니미 -->
            <div class="mini-fr">
              <th:block th:if="${memberList != null}">
                  <th:block th:each="member : ${memberList}">
                      <div class="member" th:id="${'my-minime-' + member.memberId}">
                        <div class="member-content">
                        <!-- 채팅 말풍선 -->
                        <div th:class="'chat-bubble ' + 'member-' + ${member.memberId}"></div>
                          <!-- 미니미 말풍선 -->
                          <div class="minmeBubble" th:if="${session.loginInfo != null}">
                            <input class="loginId" type="hidden" th:value="${session.loginInfo.memberId}">
                            <p class="letterText" th:attr="data-membername=${member.memberName}, data-memberid=${member.memberId}"  onclick="openLetterBox(this)">쪽지보내기</p>
                          </div>
                          <div class="minmeBubble" th:unless="${session.loginInfo != null}">
                            <p class="letterText" onclick="location.href='/member/loginPage';">쪽지보내기</p>
                          </div>
                          <!-- 미니미 -->
                          <img class="minime-img" th:src="|/images/${member.minime}.png|" th:attr="data-memberid=${member.memberId}">
                          <input type="hidden" id="memberName" name="memberName" th:value="${member.memberName}">
                          <div class="nameTag">
                            <img class="connect-state" src="/images/connectOff.png" alt="">
                            <h6>[[${member.memberName}]]</h6>
                          </div>
                      </div>
                      </div>

                      <!-- 쪽지 보내기창 -->
                      <div class="letter">
                        <div class="letterName">
                          <h3  th:attr="data-membername=${member.memberName}"></h3>
                        </div>
                        <form action="/room/insertLetter" method="post">
                            <div class="getMemberId">
                              <input type="hidden" id="memberId" name="memberId" th:value="${member.memberId}">
                            </div>
                          <div class="letterTextarea">
                              <textarea id="letterContet" name="letterContent"></textarea>
                          </div>
                          <div class="letterButton">
                            <input type="submit" class="btn btn-primary" value="보내기">
                          <button type="button" class="btn btn-secondary" onclick="closeLetterBox()">닫기</button>
                          </div>
                          
                        </form>
                    </div>
                  </th:block>
              </th:block>
            </div>



            <!-- 과제 -->
            <div class="work-icon" data-bs-toggle="modal" data-bs-target="#workModal">과제</div>
            <div class="work-btn bounce" data-bs-toggle="modal" data-bs-target="#workModal">과제</div>

            <!-- 캘린더 -->
            <div class="pin">핀셋</div>
            <a id="openCalender" class="calendar" data-bs-toggle="modal" data-bs-target="#calenderModal">캘린더</a>
          </div>
        </div>
      </div>

      
      

      <!-- 채팅 -->
          <div class="chatting-fr">
            <th:block th:if="${session.loginInfo}!=null">
              <input id="sender" type="hidden" th:attr="data-sender=${session.loginInfo.memberName}">
              <input id="memId" type="hidden" th:attr="data-id=${session.loginInfo.memberId}">
              <input id="miniSrc" type="hidden" th:attr="data-minime=${session.loginInfo.minime}">
            </th:block>
            <div id="chat" class="container-md">
                <h3>채팅</h3>
                <div id="chat-messages"></div>
                <form id="message-form">
                    <input type="text" id="message" class="form-control">
                    <button type="submit" id="chatBtn" class="btn btn-primary">전송</button>
                </form>
            </div>
          </div>

     



        <!-- 출석부 모달 -->
        <div class="modal fade" id="stuListModal" tabindex="-1" aria-labelledby="stuListModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="stu-modal-content modal-content">
            <div class="stu-modal-header modal-header">
              <h1 class="modal-title fs-5" id="stuListModalLabel">출석부</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img class="stu-list-pen" src="/images/black_pen.png" alt="">

              <th:block th:if="${memberList} != null">
                  <table class="table">
                    <thead class="stu-thead">
                      <tr>
                        <th scope="col">no</th>
                        <th scope="col">아이디</th>
                        <th scope="col">이름</th>
                        <th scope="col">성별</th>
                        <th scope="col">생년월일</th>
                      </tr>
                    </thead>
                    <tbody class="stu-tbody table-group-divider" th:each="member, state : ${memberList}">
                      <tr>
                        <td>[[${state.index + 1}]]</td>
                        <td>[[${member.memberId}]]</td>
                        <td>[[${member.memberName}]]</td>
                        <td>[[${member.memberGender}]]</td>
                        <td>[[${member.memberBirthday}]]</td>
                      </tr>
                    </tbody>
                  </table>
              </th:block>
            </div>
          </div>
        </div>
      </div>


      <!-- 과제 모달 -->
      <div class="modal fade" id="workModal" tabindex="-1" aria-labelledby="workModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="work-back modal-content">
            <div class="work-frame modal-body">

              <div class="row mt-2 mb-2">
                <div class="col-7">
                  <h1 class="modal-title fs-4 d-grid gap-2 d-md-flex justify-content-end col" id="workModalLabel">과 제</h1>
                </div>
                <div class="col-5 d-grid gap-2 d-md-flex justify-content-end col">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
              </div>

              <div class="accordion" id="workAccordion">
                <div class="accordion-item" th:each="work, state : ${workList}">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#my-work-' + state.index}" aria-expanded="true" aria-controls="collapseOne">
                      [[${work.workTitle}]] <span style="margin-left: 5px;">기한 : [[${work.deadLine}]]</span>
                    </button>
                  </h2>
                  <div  th:id="${'my-work-' + state.index}" class="accordion-collapse collapse" data-bs-parent="#workAccordion">
                    <div class="accordion-body">
                      [[${work.workContent}]]
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- 캘린더 모달 -->
    <div class="modal fade" id="calenderModal" tabindex="-1" aria-labelledby="calenderModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>







      
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/room.js"></script>
        <!-- WebSocket 채팅 -->
        <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
        <!-- 풀 캘린더 -->
        <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.js"></script>
    </th:block>
</body>
</html>