<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/room.css">
    <div id="myRoom">
        <div class="todoList" data-bs-toggle="modal" data-bs-target="#todo-modal">
            <img class="pin" src="/images/pin-red.png" alt="">
        </div>
        <div id="minime">
            <div class="status-msg">[[${loginInfo.statusMsg}]]</div>
            <img th:src="|/images/${loginInfo.minime}.png|">
            <p class="name">[[${loginInfo.memberName}]]</p>
        </div>
    </div>


    <div class="modal fade" id="todo-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modal-body">
                <h1 class="mb-5 text-center">투두 리스트</h1>
                <div class="todoInput">
                    <form action="">
                        <label>해보자</label>
                        <input type="text" name="todoContent">
                        <label>끝내보자</label>
                        <input type="date" name="todoFinishDate"><br>
                        <input type="submit" value="등록">
                    </form>
                </div>
                <div class="todoOutput">
                    <ul></ul>
                </div>




                
                <div class="row mt-5" style="display: flex; justify-content: center;">
                    <div class="col-3 d-grid">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</th:block>
</body>
</html>