<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/room.css">
    <div id="myRoom">
        <div class="todoList" data-bs-toggle="modal" data-bs-target="#todo-modal">
            <img class="pin" src="/images/pin-red.png" alt="">
        </div>
        <div id="minime">
            <div class="status-msg">
                <div class="statusMsgText" onclick="showInput()">
                    [[${statusMsg.statusMsg}]]
                    <input type="hidden" name="memberId" th:value="${loginInfo.memberId}">
                    <textarea rows="2" cols="20" maxlength="20"  name="statusMsg" id="input-status-msg" th:value="${statusMsg.statusMsg}" th:onkeydown="updateStatusMsg([[${loginInfo.memberId}]])" required>[[${statusMsg.statusMsg}]]</textarea>
                </div>
                <div class="btnClose" onclick="closeInput()"></div>
            </div>
            <div class="toggleStatus" onclick="toggleStatus()">
                <img th:src="|/images/${loginInfo.minime}.png|" >
                <p class="name">[[${loginInfo.memberName}]]</p>
            </div>
        </div>

        <div th:if="${letterCount > 0}">
            <div class="openLetterBox">
                <div class="boxNum" data-bs-toggle="modal" data-bs-target="#letter-modal">
                    <p th:text="${letterCount}"></p>
                </div>
            </div>
        </div>
        <div th:unless="${letterCount > 0}" class="closeLetterBox">
        </div>
    </div>
    

    <!-- 쪽지 모달창 -->
    <div class="modal fade" id="letter-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">쪽지</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="letterList">
                    <th:block th:each="letter : ${letterList}">
                        <hr>
                            <div class="letterCast">
                                <p class="letterSender">보낸 사람 : [[${letter.fromId}]]</p>
                                <p>쪽지 내용 : [[${letter.letterContent}]]</p>
                                <p>보낸 날짜 : [[${letter.letterDate}]]</p>
                                <input type="checkbox" name="innerCheck" class="form-check-input chk"  onclick="checkLetter()" th:value="${letter.letterNum}">
                                <button type="button" class="showinput" onclick="showinput()">답장하기</button>
                            </div>
                            <div class="answerLetter">
                                <form action="/room/sendLetter" method="post">
                                    <input type="hidden" id="fromId" name="fromId" th:value="${loginInfo.memberId}">
                                    <input type="hidden" id="memberId" name="memberId" th:value="${letter.fromId}">
                                    <textarea id="letterContet" name="letterContent"></textarea>
                                    <input type="submit" class="btn btn-primary sendAnswer" value="쪽지 보내기"></input>
                                </form>
                            </div>
                        <hr>
                    </th:block>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary" onclick="deleteletter()">선택 삭제</button>
            </div>
          </div>
        </div>
    </div>

    <!-- todoList 모달창 -->
    <div class="modal fade" id="todo-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="todoModal modal-content">
            <div class="todolist modal-body modal-body">

                <div class="col offset-md-11">
                    <button type="button" id="check" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="todoInput">
                    <form>
                        <div class="row">
                            <div class="col-1 mt-2">
                                <input type="date" id="todoFinishDate" required><br>
                                <input type="hidden" id="todoWriter" th:value="${loginInfo.memberId}">
                                <input type="hidden" id="memberId" th:value="${loginInfo.memberId}">
                            </div>
                            <div class="col-9">
                                <input type="text" id="todoContent" maxlength="19" placeholder="해보자" required >
                            </div>
                            <div class="col-1">
                                <input type="reset" id="save" class="btn btn-outline-secondary" onclick="insertTodo();"></input>
                                <span class="todoBtn"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="todoOutput">
                    <ul id="todoUl"></ul>
                </div>   
                <div class="realTodoList">
                    <th:block th:each="todo : ${todoList}">
                        <ul>
                            <li>
                                <input type="checkbox" class="todoCheck" onclick="addlinethrough();">
                                <p class="todoName">[[${todo.todoContent}]]</p>
                                <p class="Dday">D<span>[[${todo.todoStartDate}]]</span></p>
                                <button type="button" id="todoNum" th:onclick="deleteTodo([[${todo.todoNum}]]);"
                                 th:value="${todo.todoNum}"checked>
                                    <i class="bi bi-check-lg" style="color: #575757;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                        </svg>
                                    </i>
                                </button>
                            </li>

                        </ul>
                    </th:block>
                </div>
                
            </div>
        </div>
    </div>
    </div>
    <script src="/js/room.js"></script>
</th:block>
</body>
</html>