<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
<th:block layout:fragment="content_css">
    <link rel="stylesheet" href="/css/room.css">
</th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div id="myRoom">

        <!-- 투두 모달 -->
        <div class="todoList" data-bs-toggle="modal" data-bs-target="#todo-modal">
            <img class="pin" src="/images/pin-red.png" alt="">
        </div>

        <!-- 미니미 상태메세지 -->
        <div id="minime">
            <div class="status-msg">
                <div class="statusMsgText" onclick="showInput()">
                    [[${statusMsg.statusMsg}]]
                    <input type="hidden" name="memberId" th:value="${loginInfo.memberId}">
                    <textarea rows="2" cols="20" maxlength="20"  name="statusMsg" id="input-status-msg" th:value="${statusMsg.statusMsg}" th:onkeydown="updateStatusMsg([[${loginInfo.memberId}]])" required>[[${statusMsg.statusMsg}]]</textarea>
                </div>
                <div class="btnClose" onclick="closeInput()"></div>
            </div>
            <div class="toggleStatus" onclick="toggleStatus()">
                <img th:src="|/images/${loginInfo.minime}.png|" >
                <p class="name">[[${loginInfo.memberName}]]</p>
            </div>
        </div>

        <!-- 우편함 -->
        <div th:if="${letterCount > 0}">
            <div class="openLetterBox" data-bs-toggle="modal" data-bs-target="#letter-modal">
                <div class="boxNum">
                    <p th:text="${letterCount}"></p>
                </div>
            </div>
        </div>
        <div th:unless="${letterCount > 0}" class="closeLetterBox">
        </div>

        <!-- 선생님 권한으로 과제 등록  -->
        <div th:if="${loginInfo.memberRoll == 'ADMIN'}" class="adminWork">
            <div data-bs-toggle="modal" data-bs-target="#admin-work-modal"><p>과제 등록 하기</p></div>
        </div>
        <!-- 선생님 권한으로 일정 등록 -->
        <div th:if="${loginInfo.memberRoll == 'ADMIN'}" class="adminCalendar" onclick="openCalendar()">
            <div class="colorPen"></div>
        </div>
        <div class="calendarForm">
            <div class="calendarHead"><p>일정 등록</p></div>
            <form id="eventForm">
                <input type="text" id="calTitle" name="calTitle" placeholder="일정 제목" required><br>
                <input type="date" id="calDate" name="calDate" placeholder="일정 선택" required><br>
                <button type="button" class="calBtn btn btn-light" onclick="eventReg();">등록</button>
            </form>
            <div class="closeCalender" onclick="closeCalender()">x</div>
        </div>
        <div class="workIcon"></div>
    </div>
    
    <!-- 쪽지 모달창 -->
    <div class="modal fade" id="letter-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="letter-body modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="letterList">
                    <th:block th:each="letter : ${letterList}">
                        <hr>
                            <div class="letterCast">
                                <p class="letterSender">보낸 사람 : [[${letter.fromId}]]</p>
                                <p style="white-space: pre-line;">쪽지 내용 : [[${letter.letterContent}]]</p>
                                <p>보낸 날짜 : [[${letter.letterDate}]]</p>
                                <input type="checkbox" name="innerCheck" class="form-check-input chk"  onclick="checkLetter()" th:value="${letter.letterNum}">
                                <button type="button" class="showinput" onclick="showinput()">답장하기</button>
                            </div>
                            <div class="answerLetter">
                                <form action="/room/sendLetter" method="post" onsubmit="showAlert()">
                                    <input type="hidden" id="fromId" name="fromId" th:value="${loginInfo.memberId}">
                                    <input type="hidden" id="memberId" name="memberId" th:value="${letter.fromId}">
                                    <textarea id="letterContet" name="letterContent"></textarea>
                                    <input type="submit" class="btn btn-primary sendAnswer" value="쪽지 보내기"></input>
                                </form>
                            </div>
                        <hr>
                    </th:block>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              <button type="button" class="btn btn-primary" onclick="deleteletter()">선택 삭제</button>
            </div>
          </div>
        </div>
    </div>

    <!-- todoList 모달창 -->
    <div class="modal fade" id="todo-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="todoModal modal-content">
            <div class="todolist modal-body modal-body">

                <div class="col offset-md-11">
                    <button type="button" id="check" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="todoInput">
                    <form>
                        <div class="row">
                            <div class="col-1 mt-2">
                                <input type="date" id="todoFinishDate" required><br>
                                <input type="hidden" id="todoWriter" th:value="${loginInfo.memberId}">
                                <input type="hidden" id="memberId" th:value="${loginInfo.memberId}">
                            </div>
                            <div class="col-9">
                                <input type="text" id="todoContent" maxlength="19" placeholder="todo list 최대 9개 등록 가능" required >
                            </div>
                            <div class="col-1">
                                <input type="reset" id="save" class="btn btn-outline-secondary" onclick="insertTodo();"></input>
                                <span class="todoBtn"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="todoOutput">
                    <ul id="todoUl"></ul>
                </div>   
                <div class="realTodoList">
                    <th:block th:each="todo : ${todoList}">
                        <ul>
                            <li>
                                <div class="check">
                                    <input type="checkbox" class="todoCheck" onclick="addlinethrough(this);">
                                    <label for="checkbox"></label>
                                    <p class="todoName">[[${todo.todoContent}]]</p>
                                    <p class="Dday">D<span>[[${todo.todoStartDate}]]</span></p>
                                </div>

                                <button type="button" id="todoNum" th:onclick="deleteTodo([[${todo.todoNum}]]);"
                                 th:value="${todo.todoNum}"checked>
                                    <i class="bi bi-trash3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                        </svg>
                                    </i>
                                </button>
                            </li>

                        </ul>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- 선생님 과제 리스트 insert 모달창-->
    <div class="modal fade" id="admin-work-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="reg-work-back modal-content">
                <div class="reg-work modal-body modal-body">

                    <div class="row">
                        <div class="col-11">
                            <h3 class="mt-2 text-center">과제 등록</h3>
                        </div>
                        <div class="col-1 d-grid gap-2 d-md-flex justify-content-end col">
                            <button type="button" id="check" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>

                    <form action="/room/insertWork" method="post">

                        <div class="input-group mt-2 mb-3">
                            <span class="input-group-text titleLabel">과제명</span>
                            <input type="text" name="workTitle" class="workTitle" required>
                        </div>

                        <div class="input-field">
                            <textarea name="workContent" rows="6" cols="35" placeholder="과제내용" required></textarea>
                        </div>

                        <div class="input-group mt-2 mb-4">
                            <span class="input-group-text dateLabel">마감일자</span>
                            <input type="text" name="deadLine" class="deadLine" placeholder="ex. 2023-00-00"  required>
                        </div>

                        <div class="col d-md-flex justify-content-center col">
                            <button class="workBtn btn btn-secondary" type="submit" id="button-addon2">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
    
    <!-- 풀 캘린더 -->

</th:block>

<th:block layout:fragment="content_js">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.js"></script>
    <script src="/js/room.js"></script>
</th:block>
</body>
</html>