<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/member.css"> 
        
        <div class="modal fade" id="login-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div id="login-modal-board" class="modal-content">

                    <div class="modal-body login-board">

                        <div class="row">
                            <div class="col">
                                <h3 class="loginTitle text-center mb-6">로 그 인</h3>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            
                        </div>
                        <div class="row">
                            <div class="col">
                                <form action="/login" method="post">
                                    <div class="loginForm">
                                        <div class="mb-3">
                                            <input type="text" class="form-control" id="memberId" name="memberId" placeholder="아이디" required >
                                        </div>
                                        <div class="mb-3">
                                            <input type="password" class="form-control" id="memberPw" name="memberPw" placeholder="비밀번호" required>
                                        </div>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button type="submit" class="btn btn-primary">로그인</button>
                                            <button type="button" class="btn btn-secondary" onclick="location.href='/member/joinPage';">회원가입</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
    
                    
                    </div>



                </div>
                    
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            // 로그인 모달
             $(window).on('load', function() {
                $("#login-modal").modal("show");
            });
            // 로그인 모달 닫기
            $('.btn-close').click(function(){
                location.href='/room/main';
            })
        </script>

    </th:block>
</body>
</html>