<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/main.css">
    <form action="" method="post">
        <table>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="memberId"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="memberPw"></td>
            </tr>
        </table>
        <input type="submit" value="로그인">
    </form>
</th:block>
</body>
</html>