@charset "utf-8";

body{
    font-family: 'Dovemayo_gothic';
}

/* ----------- 자유게시판 목록 ----------- */
.boardBox{
    padding: 50px;
    position: relative;
    font-size: 18px;
}
.headTitle{
    position: relative;
    z-index: 1;
}
.headTitleBar{
    position: absolute;
    top: 75px;
    width: 155px;
    height: 15px;
    background-color: #ffc107;
    opacity: 0.6;
    animation: headTitleBar .5s ease-in forwards;
    text-indent: -99999px;
}
@keyframes headTitleBar{
    0%{
        width: 0px;
    }
    100%{
        width: 155px;
    }

}
.searchBox{
    width: 35%;
}

td{
    padding: 5px ;
}

/* 
* qua_baord_upate_pahr.tml 에 사용하는 css 적용
* CREATE-DATE : 2023-10-12
* CREATE BY 협진
*/
.clickable-span{
    cursor: pointer;
}

