@charset "utf-8";

body{
    font-family: 'Dovemayo_gothic';
}
textarea{
    resize: none;
}
a{
    color: #9c8277;
}
a:hover{
    color: #86b9af;
}

/* ----------- 게시판 공통 목록 ----------- */
.boardBox{
    padding: 50px;
    position: relative;
    font-size: 18px;
}
.headTitle{
    position: relative;
    z-index: 1;
}
.headTitleBar{
    position: absolute;
    top: 75px;
    width: 155px;
    height: 15px;
    background-color: #ffc107;
    opacity: 0.6;
    animation: headTitleBar .5s ease-in forwards;
    text-indent: -99999px;
}

@keyframes headTitleBar{
    0%{
        width: 0px;
    }
    100%{
        width: 155px;
    }

}
.searchBox{
    width: 35%;
}

td{
    padding: 5px ;
}

/*  페이징  */
.me-2 {
    margin: 0 .5rem!important;
}


/* ----------- 게시판 공통 상세페이지 ----------- */
.dropdown-menu {
    min-width: 70px;
}
.boardWriter{
    font-size: 18px;
}
.replyWriter{
    font-size: 17px;
    color: #868686;
}
.backArrow{
    background-image: url(/images/backArrow.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    width: 25px;
    height: 35px;
    text-indent: -99999px;
}
.backArrow:hover{
    background-image: url(/images/backArrow-hover.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    width: 25px;
    height: 35px;
}
.updateButton{
    background-color: #9c8277;
}
.updateButton:hover{
    background-color: #a3d6cd;
}
.boardDate, .boardReadCnt{
    color: #aaaaaa; 
    font-size: 13px;
    margin-bottom: 0;
}
.boardReadCnt{
    margin-top: 10px;
}
.textContent{
    color: #6e6e6e; 
    white-space: pre-line;
    margin-bottom: 0;
}
/* to-top 버튼 */
.to-top{
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #949494;
    border-radius: 100%;
}
.to-top span{
    display: block;
    position: absolute;
    top: 15px;
    left: 14px;
    width: 12px;
    height: 12px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(45deg);
}
.to-top:hover{
    box-shadow: 2px 2px 6px 1px #20212447;
}

/* 댓글 */
.dropdown img{
    width: 40px;
    height: 40px;
}
.dropdownWrap{
    width: 10%;
}
.small{
    font-size: 12px;
    color: #aaaaaa;
    margin-top: 5px;
}
#replyText::-webkit-scrollbar{
    display: none;
}
#replyText{
    outline-color: #ffc107;
    border: 2px solid #868686;
    padding: 7px 20px 7px 35px;
    height: 45px;
    width: 45%;
}
#replyText:placeholder-shown{
    background-image: url(/images/emoji-sunglasses.svg);
    background-position: 13px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
.commentBtn{
    border-radius: 100%;
    padding: 10px 10px;
}
.card{
    border: 0px;
    box-shadow: 0 1px 6px 0 #20212447;
    position: relative;
}
.card::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 30%;
    left: -18px;
    transform: rotate(270deg);
    border: 12px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, .1));

}
#replyNum{
    border: 0;
    background-color: transparent;
    color: #9c8277;
}
#replyNum:hover{
    color: #a3d6cd;
}

/* alert창 */
.swal2-popup.swal2-modal.swal2-icon-warning.swal2-show{
    background-image: url(/images/confirm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: transparent;
    height: 635px;
    padding-top: 70px;
}
div:where(.swal2-icon).swal2-warning {
    border-color: #e1904a;
    color: #e1904a;
    top: 95px;
}
h2#swal2-title.swal2-title {
    margin-top: 0px;
    top: 30px;
}
div:where(.swal2-container) div:where(.swal2-actions) {
    height: 0;
    margin-bottom: 130px;
}


/* 
* qua_baord_upate_pahr.tml 에 사용하는 css 적용
* CREATE-DATE : 2023-10-12
* CREATE BY 협진
*/
.clickable-span{
    cursor: pointer;
}

