@charset "UTF-8";

/* 눈누 폰트 - 둘기마요고딕 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html{
    cursor: url('/images/pen.png'), auto;
}
a{
    text-decoration: none;
}

body{
    background-color: #EBE4DA;
    font-family: 'Dovemayo_gothic';
}

/* 그린모아 프레임 */
.main-fr{
    border: 3px solid #E4C682;
    margin-top: -20px;
    background-color: #fff;
    padding: 40px;
}

.inner-fr{
    position: relative;
    height: 1000px;
    border: 3px solid #D8D8D8;
    border-radius: 20px;
}



#email-error-div{
    color: red;
}

.btn-primary{
    background-color: #FEBC5B;
    border: none;
    --bs-btn-disabled-bg: #FEDE90;
}
.btn-primary:hover{
    background-color: #6c757d;
    border: none;
}
.btn-secondary{
    background-color: #D9D9D9;
    border: none;
}

.form-check-input:checked {
    background-color: #FEBC5B;
    border-color: #FEBC5B;
}