@charset "UTF-8";

/* 폰트 - 둘기마요고딕 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* a태그 밑줄 없애기 */
a{
    text-decoration: none;
}

body{
    background-color: #EBE4DA;
}

#logo{
    width: 500px;
    height: 150px;
}

#logo img{
    width: 100%;
    height: auto;

}

#email-error-div{
    color: red;
}


