@charset "UTF-8";

#classRoom{
    background-image: url(/images/room_frame.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
}