@charset "UTF-8";

/* ----------- main_side 전체메뉴 ----------- */
.menu{
    width: 113px;
    height: 65px;
    border-radius: 0 15px 15px 0;
    border: 3px solid #E4C682;
    padding-top: 18px;
    background-color: #F0E2BC;
    margin-left: -14px;
    transition: width 0.1s ease-out;
    font-size: 20px;
    color: #8b7766;
    letter-spacing: 1px;
    z-index: 1000;
}

.menu:hover{
    background-color: #F7D281;
    width: 150px;
}


/* ----------- 로그인 메뉴 ----------- */
body{
    position: relative;
}
.loginMinime, .loginConver{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.loginMinime{
    background-image: url(/images/loginMinime2.png);
    top: 40px;
    right: 38%;
    width: 80px;
    height: 105px;
    z-index: 1000;
}
.loginConver{
    background-image: url(/images/loginMinime1.png);
    top: 20px;
    right: 35%;
    width: 80px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    color: #89847b;
    font-weight: bold;
    letter-spacing: 1px;
    transform: rotate(25deg);
}

.loginMinime:hover + .loginConver{
    top: 0;
}


/* 로고 */
h1#logo{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 58px;
    margin-bottom: 35px;
}

h1#logo img{
    width: 280px;
    height: auto;
}

