@charset "UTF-8";

body{
    position: relative;
}

#classRoom{
    background-image: url(/images/room_frame.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
}

.utility{
    background-image: url(/images/login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 115px;
    text-indent: -99999px;
    position: absolute;
    top: 30%;
    left: 50%;
}

.utilMenu{
    background-image: url(/images/loginMenu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 170px;
    height: 135px;
    text-align: center;
    padding-top: 45px;
    font-family: 'Dovemayo_gothic';
    position: absolute;
    top: 18%;
    left: 48%;
}

.utilMenu a{
    font-size: 25px;
    color: #fff;
}