@charset "UTF-8";

body{
    position: relative;
}

.content{
    position: relative;
}


/* 클래스룸 미니미들 위치 */
.teacher{
    position: absolute;
    top: 20%;
    left: 45%;
    width: 100px;
}
.teacher img{
    width: 100%;
    height: auto;
}
.teacher .name{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: -10px;
}
.mini-fr{
    position: absolute;
    top: 55%;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
.member{
    position: relative;
}

/* 미니미 말풍선 */
.minmeBubble{
    background-image: url(/images/msgBox_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -90px;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}
.letterText{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
}
.member img{
    width: 100px;
    height: auto;
    z-index: 1200;
}

.member .name{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: -10px;
}

/* 출석부 */
.student-list{
    width: 100px;
    position: absolute;
    top: 17%;
    right: 38%;
    transform: rotate(30deg);
}
.student-list:hover{
    top: 15%;
}
.student-list img{
    width: 100%;
    height: auto;
}

#stuListModal{
    text-align: center;
    border: none;
}

#stuListModalLabel{
    margin-left: 200px;
}

.stu-modal-content{
    position: relative;
    background-color: #C69A77;
}

.stu-modal-header{
    background-color: #9B877A;
    border: none;
}

.stu-thead th{
    background-color: #6F9BC7;
}

.stu-tbody td{
    background-color: #F2DFBF;
}

.stu-modal-footer{
    border: none;
}

.stu-list-pen{
    position: absolute;
    top: 30%;
    right: -40px;
    transform: rotate(30deg);
}
/* --------- 과제로 애니메이션 효과 --------- */
.work-icon{
    background-image: url(/images/login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 90px;
    height: 75px;
    text-indent: -99999px;
    position: absolute;
    top: 41%;
    right: 31%;
}

.work-icon:hover + .work-btn{
    top: 28%;
}

.work-btn{
    background-image: url(/images/loginMenu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}

.bounce{
    animation-duration: 1s;
    animation-name: bounce;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-20px);
    }
}


/* --------- 캘린더 --------- */
.pin{
    background-image: url(/images/pin-green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 10%;
    left: 12%;
    z-index: 100;
    width: 35px;
    height: 35px;
    text-indent: -99999px;
}
.calendar{
    background-image: url(/images/calendar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 200px;
    text-indent: -99999px;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: perspective(200px) rotateY(30deg);
    z-index: 10;
}





/* 채팅 */
#chat{
    height: 300px;
}
#chat-messages{
    height: 200px;
    border: 2px solid #DEE2E6;
    border-radius: 0.375rem;
    overflow-y: scroll; 
    background-color: rgba(255, 255, 255, 0.2);
}
.chatting-fr{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat-messages p{
    margin: 0 20px;
}

#message-form{
    width: 100%;
    height: 40px;
    padding: 0;
    display: flex;
}

#chatBtn{
    font-size: 1.2rem;
    width: 10%;
}


































/* 풀캘린더 */
#calendar{
    height: 800px;
}
















