@charset "UTF-8";

/* ----------- 전체메뉴 ----------- */
.menu{
    width: 113px;
    height: 65px;
    border-radius: 0 15px 15px 0;
    border: 3px solid #E4C682;
    padding-top: 18px;
    background-color: #F0E2BC;
    margin-left: -14px;
    transition: width 0.1s ease-out;
    font-size: 20px;
    color: #8b7766;
    letter-spacing: 1px;
    z-index: 1000;
}

.menu:hover{
    background-color: #F7D281;
    width: 150px;
}


/* ----------- 로그인 메뉴 ----------- */
body{
    position: relative;
}
.loginMinime, .loginConver{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.loginMinime{
    background-image: url(/images/loginMinime2.png);
    top: 10px;
    right: 39%;
    width: 80px;
    height: 105px;
    text-indent: -99999px;
}
.loginConver{
    background-image: url(/images/loginMinime1.png);
    top: 0;
    right: 17%;
    width: 115px;
    height: 65px;
    text-align: center;
    padding-top: 15px;
}
.loginConver a{
    color: #89847b;
    font-size: 0.9rem;
    letter-spacing: 1px;
}