@charset "UTF-8";

/* 양식 디자인 */
.join-title{
    background-image: url(/images/join-title.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 520px;
    height: 110px;
    padding-top: 21px;
    display: block;
    color: #505050;
    margin: 0 auto;
}
.join-input input{
    margin-bottom: 15px;
}

.minime-btn{
    margin-top: 20px;
}
.my-minime{
    margin-left: 20px;
}

#joinForm{
    padding: 40px;
}


/* 미니미 선택 효과 */
.minimeA, .minimeB{
    position: relative;
}
.minimeA:hover > .mini-star,
.minimeB:hover > .mini-star {
    display: block;
}
.mini-star{
    display: none;
    position: absolute;
    top: -10px;
    left: 10px;
    width: 200px;
    height: auto;
    background-color: transparent;
}

.minimeA_slideList div, .minimeB_slideList div{
    position: relative;
}
.mini-check{
    position: absolute;
    top: 0;
    left: 0;
    width: 235px;
    height: 80px;
    background-image: url(/images/icon_check.png);
    background-size: 60px auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}

/* 슬라이드 버튼 */
.mini-modal-body{
    position: relative;
}
.prev_btnA, .next_btnA, .prev_btnB, .next_btnB{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-left: 5px solid #FEBC5B;
    border-bottom: 5px solid #FEBC5B;
    text-indent: -9999px;
}

.prev_btnA, .prev_btnB{
    left: 25px;
    transform: rotate(45deg);
}

.next_btnA, .next_btnB{
    right: 25px;
    transform: rotate(-135deg);
}

/* 토끼 */
.minimeA_slideList{
    display: none;
}
.minimeA_btn{
    display: none;
}

/* 여우 */
.minimeB_slideList{
    display: none;
}
.minimeB_btn{
    display: none ;
}

.minimeA_btn, .minimeB_btn{
    display: none;
}


/* 미니미 선택 */
.minime_AB{
    display: flex;
}
.minimeA_btn{
    display: none;
}
.minimeB_btn{
    display: none;
}


/* alert창 */
/* .swal2-popup.swal2-modal.swal2-icon-warning.swal2-show{
    background-image: url(/images/confirm.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: transparent;
    height: 635px;
    padding-top: 70px;
}
div:where(.swal2-icon).swal2-warning {
    border-color: #e1904a;
    color: #e1904a;
    top: 95px;
}
h2#swal2-title.swal2-title {
    margin-top: 0px;
    top: 30px;
}
div:where(.swal2-container) div:where(.swal2-actions) {
    height: 0;
    margin-bottom: 130px;
} */



/* 로그인페이지 */

/* 눈누 - 태백체 */
@font-face {
    font-family: 'TAEBAEKfont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.login-board{
    width: 500px;
    height: 670px;
    background-image: url(/images/login-modal.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.loginForm{
    position: absolute; 
    bottom: 20%; 
    left: 29%;
    width: 230px;
}
.loginTitle{
    position: absolute;
    bottom: 45%;
    left: 42%;
    color: #444;
    font-family: 'TAEBAEKfont';
}
.btn-close{
    position: absolute;
    bottom: 50%;
    right: 8%;
    color: #89847b;
}

#login-modal-board{
    background-color: transparent;
    border: none;
}