@charset "UTF-8";

/* 양식 디자인 */
.join-input input{
    margin-bottom: 15px;
}

.minime-btn{
    margin-top: 20px;
}
.my-minime{
    margin-left: 20px;
}

#joinForm{
    padding: 40px;
}

/* 토끼 */
.minimeA_slideList{
    display: none;
}
.minimeA_btn{
    display: none;
}

/* 여우 */
.minimeB_slideList{
    display: none;
}
.minimeB_btn{
    display: none;
}

.minimeA_btn, .minimeB_btn{
    display: none;
}


/* 미니미 선택 */
.minime_AB{
    display: flex;
}
.minimeA_btn{
    display: none;
}
.minimeB_btn{
    display: none;
}
