@charset "UTF-8";

.swal2-container {
    z-index: 20000;
}

/* 마이룸 */
#myRoom{
    position: relative;
    background-image: url(/images/myroom-frame.png);
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 1000px;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}


/* 미니미 */

#minime{
    position: absolute;
    right: 37vw;
    top: 27vh;
    width: 150px;
}

#minime img{
    position: absolute;
    left: -46px;
    top: 170px;
    width: 100%;
    height: auto;
    margin-left: 70px;
}

#minime .name{
    position: absolute;
    top: 353px;
    right: -21px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    
}
/* 상태메세지 */
.status-msg{
    position: relative;
    width: 227px;
    height: 178px;
    background-image: url(/images/myroom-msg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

   /* display: flex;
   justify-content: center; */
   align-items: center;
   
   font-size: 1.3rem;
   margin-right: 50px;

}input

.statusMsgText{
    padding: 30px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 24px;
    left: 7px;

}

.statusMsgButton{
    margin-top: 10px;
    margin-left: 60px;
}
.btnClose {
    position: absolute;
    top: 30px;
    right: 25px;
	display:inline-block;
	width:20px;
	height:20px;
    cursor: pointer;
}
.btnClose:before, .btnClose:after {
	margin-left:10px;
	position:absolute;
	content:' ';
	height:15px;
	width:1px;
	background-color:#3f3f3f
}
.btnClose:before{
	transform:rotate(45deg);
}
.btnClose:after{
	transform:rotate(-45deg);
}

/* 미니미 액자 */
.minimeFrame{
    background-image: url(/images/Untitled.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 4%;
    left: 4%;
    transform-origin: top left; /* 원근 변환의 기준점을 좌상단으로 설정합니다 */
    transform: perspective(1000px) rotateY(28deg) rotate(-10deg); /* 3D 회전을 통해 입체감을 표현합니다 */

}

/* 내정보 (미니미) */

.minineModalContent{
    position: relative;
    background-color: transparent;
    border: transparent;
}
.minimeModal{
    background-image: url(/images/confirm.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    width: 543px;
    height: 388px;
}
.minimeInfo{
    display: flex;
    justify-content: space-between;
}
.minimeleft{
    margin-top: 50px;
    margin-left: 30px;
}
.minimeRight{
    margin-top: 90px;
    margin-right: 78px;
}
.minimeFace img{
    width: 173px;
    height: 214px;
}
.minimeChange{
    margin-top: 20px;
    margin-left: 27px;
}
#minimeModalCheck{
    position: absolute;
    top: 16px;
    right: 23px;
}
/* 미니미 변경을 위한 창 */
.minimeChangeWindow{
    background-image: url(/images/confirm.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    width: 545px;
    height: 390px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}


/* 미니미 선택 효과 */
.minimeA, .minimeB{
    position: relative;
}
.minimeA img, .minimeB img{
    width: 180px;
    height: auto;
}
.myRoomMinime_AB{
    justify-content: space-around;
}

.minimeA:hover > .mini-star,
.minimeB:hover > .mini-star {
    display: block;
}
.mini-star{
    display: none;
    position: absolute;
    top: -10px;
    left: 10px;
    width: 200px;
    height: auto;
    background-color: transparent;
}

.minimeA_slideList div, .minimeB_slideList div{
    position: relative;
}
.minimeA_slideList img, .minimeB_slideList img{
    width: 180px;
    height: auto;
}
.mini-check{
    position: absolute;
    top: 0;
    left: 0;
    width: 235px;
    height: 80px;
    background-image: url(/images/icon_check.png);
    background-size: 60px auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}

/* 슬라이드 버튼 */
.mini-modal-body{
    position: relative;
}
.prev_btnA, .next_btnA, .prev_btnB, .next_btnB{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-left: 5px solid #FEBC5B;
    border-bottom: 5px solid #FEBC5B;
    text-indent: -9999px;
}

.prev_btnA, .prev_btnB{
    left: 25px;
    transform: rotate(45deg);
}

.next_btnA, .next_btnB{
    right: 25px;
    transform: rotate(-135deg);
}

/* 토끼 */
.minimeA_slideList{
    display: none;
}
.minimeA_btn{
    display: none;
}

/* 여우 */
.minimeB_slideList{
    display: none;
}
.minimeB_btn{
    display: none ;
}

.minimeA_btn, .minimeB_btn{
    display: none;
}


/* 미니미 선택 */
.minime_AB{
    display: flex;
}
.minimeA_btn{
    display: none;
}
.minimeB_btn{
    display: none;
}

/* 미니미 선택 닫기 */
.minimeSelectClose{
    width: 50px;
    height: 50px;
    align-items: center;
    font-size: 34px;
    padding-left: 16px;
    position: absolute;
    top: 0;
    right: 10px;
}


/* 투두리스트 */
.todoList{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    position: absolute;
    right: 104px;
    top: 89px;
    transform: rotate(-1deg);
    background-image: url(/images/todo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: top left; /* 원근 변환의 기준점을 좌상단으로 설정합니다 */
    transform: perspective(1000px) rotateY(-28deg) rotate(12deg); /* 3D 회전을 통해 입체감을 표현합니다 */
}
.todoList .pin{
    margin-top: 5px;
    margin-left: 10px;
    width: 30px;
    height: 32px;
}
.todoList:hover .pin {
    margin-top: -5px;
    margin-left: 5px;
}


/* 편지함 이미지 */
.openLetterBox{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    position: absolute;
    left: 88px;
    top: 282px;
    transform: rotate(-1deg);
    background-image: url(/images/mailbox-open.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.closeLetterBox{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    position: absolute;
    left: 88px;
    top: 282px;
    transform: rotate(-1deg);
    background-image: url(/images/mailbox-close.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
/* 쪽지 갯수 표시 */
.boxNum {
    padding: 2px;
    margin-top: 70px;
    margin-left: 52px;
    width: 37px;
    height: 30px;
    background-color: transparent;
    color: #3f3f3f;
    text-align: center;
    border: 2px solid transparent;

}
.boxNum p{
    margin-left: 4px;
}
.answerLetter{
    margin-top: 10px;
}
.answerLetter {
    display: none;
}
/* 과제 등록 이미지 */
.adminWork{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    position: absolute;
    right: 313px;
    top: 87px;
    transform: rotate(-1deg);
    background-image: url(/images/loginMenu.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    
}

.adminWork p{
    margin-top: 82px;
    font-size: 18px;
}
/* 달력 이미지 */
.adminCalendar{
    background-image: url(/images/calendar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 200px;
    text-indent: -99999px;
    position: absolute;
    top: 6%;
    left: 19%;
    transform: perspective(200px) rotateY(30deg);
    z-index: 10;
}
.colorPen{
    background-image: url(/images/color-pen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 30px;
    height: 124px;
    transform: rotate(54deg);
    text-indent: -99999px;
    position: absolute;
    top: 8%;
    left: 111%;
}
.adminCalendar:hover .colorPen{
    margin-top: -8px;
    margin-left: 8px;
}
/* 일정등록 창 */
.calendarForm{
    display: none;
    background-image: url(/images/calendar-form.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 396px;
    height: 213px;
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 16%;
}
#eventForm{
    text-align: center;
}
.calendarHead{
    background-image: url(/images/calender-head.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 116px;
    height: 55px;
    margin-top: 20px;
    margin-left: 142px;
}
.calendarHead p{
    padding-top: 13px;
    padding-left: 29px;
}
.closeCalender{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 32px;
}

#calTitle{
    border: none;
    position: relative;
    width: 60%;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    font-size: 100%;
    margin: 5px 0;
}
#calTitle:focus{
    outline-color: #dda56c;
}
#calDate{
    border: none;
    position: relative;
    width: 60%;
    padding: 5px;
    background-image: url(/images/calendar-check.svg);
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size:  8% auto;
    border-radius: 8px;
    text-align: center;
    font-size: 100%;
}
#calDate:focus{
    outline-color: #dda56c;
}
#calDate::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
  }
  #calDate::before {
    content: attr(placeholder); 
    width: 100%;
    height: 100%;
    text-align: center;
    }
    
#calDate:valid::before {
    display: none; 
}

.calBtn{
    margin-top: 5px;
    padding: 3px 7px;
}


/* 북마크 */
.bookMarkModal{
    background-image: url(/images/bookmark-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 150px;
    height: 200px;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 59%;
}
.bookMarkPoint{
    background-image: url(/images/bookmark-off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 34px;
    height: 62px;
    margin-top: 67px;
    margin-left: 97px;
    transform: rotate(-11deg);
}
.bookMarkPoint:hover{
    background-image: url(/images/bookmark-on.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 34px;
    height: 62px;
    margin-top: 67px;
    margin-left: 97px;
    transform: rotate(-11deg);
}
.bookMarkText{
    color: #cf9a1d;
    font-size: 12px;
    margin-top: -29px;
    margin-right: 47px;
    transform: rotate(-8deg);
}
.myRoomMark{
    width: 29%;
}


















/* 윤주 - 마이룸 작업 */
#myRoom{
    position: relative;
    background-image: url(/images/myroom-background.png);
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    box-sizing: border-box;
}

/* 상태메세지 */
.status-msg{
    position: relative;
    width: 222px;
    height: 173px;
    background-image: url(/images/myroom-smg2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

   /* display: flex;
   justify-content: center; */
   align-items: center;
   
   font-size: 1.3rem;
   margin-right: 0px;

}
.statusMsgText{
    padding: 30px;
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 24px;
    left: 7px;    
}
#input-status-msg{
    display: none;
    border: none;
    position: absolute;
    top: 28px;
    left: 28px;
    width: 75%;
    height: 69%;
    resize: none;
    outline: none;
}
#input-status-msg::-webkit-scrollbar{
    display: none;
}
.btnClose {
    position: absolute;
    top: 35px;
    right: 30px;
	display:none;
	width:16px;
	height:16px;
    cursor: pointer;
}
#minime{
    position: absolute;
    right: 37vw;
    top: 27vh;
    width: 150px;
}
.letterBox{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    position: absolute;
    left: 32vw;
    top: 43vh;
    transform: rotate(-1deg);
    background-image: url(/images/mailbox-close.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* 투두리스트 */
#check{
    position: absolute;
}
.todoInput{
    padding-top: 140px;
}
.todolist{
    background-image: url(/images/todolist.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 468px;
    height: 753px;
    padding-left: 20px;
    
}
.todoModal{
    background-color: transparent;
    border: none;
}
#todoContent{
    background-color: transparent;
    border: none;
    width: 315px;
    resize: none;
    padding: 6px 0 0 0;
}
#todoContent:focus{
    outline: none;
}
#todoFinishDate::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
#todoFinishDate::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
#todoFinishDate::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
#todoFinishDate::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
#todoFinishDate{
    background-color: transparent;
    border: none;
    width: 21px;
}
#todoFinishDate:focus{
    outline: none;
}
.todoGroup{
    width: 100px;
}
#save{
    background-color: #e5897a;
    border: none;
    text-indent: -99999px;
    width: 38px;
    position: relative;
    right: 10px;
}
#save:hover{
    filter: brightness(80%);
}
.todoBtn:before, .todoBtn:after{
	content:"";
    display: block;
	position:absolute;
    top: 22%;
    right: 12.5%;
	height:15px;
	width: 2px;
	background-color: #fff;
    z-index: 1;
}
.todoBtn:after{
	transform:rotate(90deg);
}
.realTodoList ul{
    margin-top: 10px;
    margin-bottom: 0;
}
.realTodoList li{
    height: 40px;
    position: relative;
    font-size: 18px;
}

ul{
    list-style: none;
    padding: 0;
}
.check{
    position: relative;
    display: inline-flex;
    align-items: stretch;
}
.check label {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    width: 12px;
    height: 7px;
    display: block;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: 10px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    background-color: white;
}
input[type="checkbox"]:checked{
    background-color: #fad06d;
    border-color: #fad06d;
}
.todoName{
    display: inline-block;
    margin-left: 15px;
}
.Dday{
    display: inline-block;
    margin-left: 10px;
}
#todoNum{
    background-color: #f7f7f7;
    border: none;
    border-radius: 7px;
    width: 38px;
    height: 38px;
    display: inline-block;
    margin-left: 15px;
    position: absolute;
    top: 0;
    right: 25px;

}

#todoNum:hover{
    filter: brightness(90%);
}

/* 과제 */
.workIcon{
    background-image: url(/images/login.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 67% auto;
    width: 195px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: 33%;
}
.adminWork{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    position: absolute;
    right: 9%;
    top: -155%;
    transform: rotate(-1deg);
    background-image: url(/images/loginMenu.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: top 0.3s ease;
}

.adminWork:hover {
    top: -170%;
}
.reg-work-back{
    background-color: transparent;
    border: none;
}
.reg-work {
    background-image: url(/images/reg-work33.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 567px;
    height: 700px;
    padding: 220px 40px 0 225px;
    margin-top: -100px;
}

.reg-work h3 {
    background-image: url(/images/deco-line.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 121px;
    height: 34px;
    display: block;
    margin: 20px auto 30px;
}

  .input-field textarea{
    font-size: 18px;
    padding: 20px 15px;
    border: none;
    border-left-style: double;
    outline: none;
    resize: none;
    transition: all 0.3s;
    background-color: transparent;
  }
  .input-field textarea::-webkit-scrollbar{
    display: none;
}
  .input-field textarea:focus{
    border-left: 3px solid #fad06d;
    background-color: #fff;
  }


  .titleLabel, .dateLabel{
    background-color: transparent;
    border: none;
  }
  .workTitle, .deadLine{
    border: 0;
    border-bottom: 2px solid #686868;
    color: #686868;
    font-size: 18px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 10px;
    transition: all 0.3s;
    width: 130px;
  }
  .workTitle:focus, .deadLine:focus{
        width: 220px;
        border-color: #fad06d;
  }
  .workBtn:hover{
    background-color: #fad06d;
  }

  /* 쪽지 모달 */
  .modal.show .modal-dialog {
    padding-top: 100px;
}
  .modal-dialog-scrollable .modal-content {
    overflow: hidden;
    max-height: 100%;
}
  .letter-frame{
    background-color: transparent;
    border: none;
  }
  #letter-modal .modal-dialog .letter-frame .letter-body{
    background-image: url(/images/letter-frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 530px;
  }
  #letter-modal .modal-dialog .letter-frame .letter-body .letterList {
    height: 365px; 
    width: 400px;
    overflow-y: auto;
    margin-top: 30px;
    margin-left: 60px;
  }
.letterSender{
    display: inline-block;
    color: #574d4d;
    font-size: 15px;
}
.letterSender span{
    font-size: 20px;
    margin-right: 100px;
    color: #3f3f3f;
}
.innerCheck{
    margin-left: 10px;
}
.letterText{
    white-space: pre-line;
    border-left: 2px dashed #3f3f3f;
    padding-left: 10px;
}
.showinput{
    background-color: #9c8277;
    margin-left: 330px;
}
.sendAnswer{
    background-color: #9c8277;
}
.sendAnswer:hover{
    background-color: #86b9af;
}
.letterContet{
    resize: none;
    max-width: 75%;
}
.letterContet::-webkit-scrollbar{
    display: none;
}

.letterBtn{
    margin-top: 40px;
    margin-left: 170px;
}
  /* 스크롤바 */
  #letter-modal .modal-dialog .letter-frame .letter-body .letterList::-webkit-scrollbar {
    width: 2px;
}
#letter-modal .modal-dialog .letter-frame .letter-body .letterList::-webkit-scrollbar-thumb {
    background: #686868;
}
